[pis]
master.cluster.local name=master.cluster.local
node1.cluster.local name=node1.cluster.local
node2.cluster.local name=node2.cluster.local
node3.cluster.local name=node3.cluster.local
node4.cluster.local name=node3.cluster.local

[master]
master.cluster.local

[nodes]
node1.cluster.local
node2.cluster.local
node3.cluster.local
node4.cluster.local